	@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

	@font-face {
		font-family: "Larsseit";
		src: url("../fonts/Larsseit.woff2"), url("../fonts/Larsseit.woff");
		font-display: swap;
		font-weight: 400;
		font-style: normal;
		}

	@font-face {
		font-family: "Larsseit";
		src: url("../fonts/Larsseit-Medium.woff2"), url("../fonts/Larsseit-Medium.woff");
		font-display: swap;
		font-weight: 500;
		font-style: normal;
	}

	@font-face {
	font-family: "Larsseit";
	src: url("../fonts/Larsseit-Bold.woff2"), url("../fonts/Larsseit-Bold.woff");
	font-display: swap;
	font-weight: 700;
	font-style: normal;
	}

	@font-face {
		font-family: "Lato";
		src: url("../fonts/lato-regular.woff2"), url("../fonts/lato-regular.woff");
		font-display: swap;
		font-weight: 400;
		font-style: normal;
		}
		@font-face {
			font-family: "Lato";
			src: url("../fonts/lato-bold.woff2"), url("../fonts/lato-bold.woff");
			font-display: swap;
			font-weight: 500;
			font-style: normal;
			}
			@font-face {
				font-family: "Lato";
				src: url("../fonts/Lato-Black.woff2"), url("../fonts/Lato-Black.woff");
				font-display: swap;
				font-weight: 700;
				font-style: normal;
				}
				header{
					font-family: "Larsseit";
					font-weight: 700;
					color: blue;
				}
				p.text{
					font-family: "Larsseit";
					font-weight: 400;
					color:brown
				}
				a{
					font-family: "Roboto";
					font-weight: 700;
					color: darkgreen;
				}
				p.text-text{
					font-family: "Lato";
					font-weight: 900;
					color: aqua;
				}
				div.text{
					font-family: "Lato";
					font-weight: 700;
					color:chartreuse
				}
				#top1{
					font-family: "Lato";
					font-weight: 400;
					color: chocolate;
				}
				div.class{
					font-family: "Roboto";
					font-weight: 700;
					color:rgb(238, 0, 255);
				}
				.lesson,
				.people{
					color:blue;
					font-family: "Larsseit";
					font-weight: 700;
				}
				.son .title {
					color:rgb(238, 0, 255)
				}


