.container{
	max-width: 1000px;
	margin: 0 auto;
	padding: 50px;
	background-color: bisque;
	min-height: 500px;
}
.block{
	background-color: crimson;
	margin-top: 50px;
	width: 150px;
	height: 40px;
	text-align: center;
	font-size: 25px;
	font-weight: 700;
	padding:5px ;
}
.block1{
	font-size: 10px;
	font-weight: 700;
	writing-mode: vertical-rl;
	text-orientation: upright;
	background-color: darkgoldenrod;
	width: 20px;
	height: 160px;
	margin-left: 130px;
	opacity:0;
	visibility: hidden;
}
.block1:hover {
	opacity: 1;
	visibility: visible;}

.block:hover +.block1{
	opacity: 1;
	visibility: visible;
}
.block2{
	background-image: url("..//img/icons/run.png");
	background-size: contain;
	width: 150px;
	height: 20px;
	margin-left: 130px;
	opacity:0;
	visibility: hidden;
}
.block2:hover {
	opacity: 1;
	visibility: visible;
}
.block1:hover +.block2{
	opacity: 1;
	visibility: visible;
}
.block3{
	background-color:#bd7a6b;
	width: 30px;
	height: 150px;
	margin-left: 260px;
	margin-top: -150px;
	opacity:0;
	visibility: hidden;
}
.block2:hover +.block3{
	opacity: 1;
	visibility: visible;}

.block3:hover {
	opacity: 1;
	visibility: visible;
}
.block4{
	background-color:#843d2d;
	width: 230px;
	height: 20px;
	margin-left: 260px;
	margin-top: -150px;
	opacity:0;
	visibility: hidden;
}
.block3:hover +.block4{
	opacity: 1;
	visibility: visible;
}
.block4:hover {
	opacity: 1;
	visibility: visible;
}
.block5{
	background-color:#843d2d;
	width: 30px;
	height: 120px;
	margin-left: 480px;
	margin-top: -20px;
	opacity:0;
	visibility: hidden;
}
.block4:hover +.block5{
	opacity: 1;
	visibility: visible;
}
.block5:hover {
	opacity: 1;
	visibility: visible;
}
.block6{
	background-color:#843d2d;
	width: 30px;
	height: 120px;
	margin-left: 480px;
	margin-top: -20px;
	opacity:0;
	visibility: hidden;
}
.block5:hover +.block6{
	opacity: 1;
	visibility: visible;
}
.block6:hover {
	opacity: 1;
	visibility: visible;
}
.block7{
	background-image: url("..//img/winner.jpg");
	background-repeat: no-repeat;
	background-size: contain;
	width: 400px;
	height: 500px;
	margin: 0 auto;
	opacity:0;
	visibility: hidden;
	font-size: 50px;
	font-weight: 700;
	text-align: center;
}
.block6:hover +.block7{
	opacity: 1;
	visibility: visible;
}
.block7:hover {
	opacity: 1;
	visibility: visible;
}