
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
body{
	font-family: Lato;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}
[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
header{
	z-index: 50;
	position: fixed;
	width: 100%;
	padding: 20px;
	top:0px;
	left: 0px;
	background: linear-gradient(55.95deg, #ee7d5e 0%, #f3e3d5fc 100%);
}
.header__container {
	display: flex;
	align-items:center;

}
.header__logo {
	padding-right: 60px;
}

.items-header {
	flex: 1 1 auto;
	display: flex;
	gap: 40px;
}
.items-header__item {
	color: #424551;
	line-height: 160%;
	font-weight: 700;
}
.items-header__item:hover{
	color: #F75E05;
}
.header__get{
	display: flex;
}
.header__login {
	display: inline-flex;
	color:#424551;
	font-weight: 700;
	line-height: 25.6px;
	padding-left: 59.67px;
	align-items: center;
	background: url("..//img/header/Vector.svg") 37.67px 17.04px no-repeat;
}
@media(max-width:1199.98px){
	[class*="__container"]{
		max-width: 970px;
	}
	.header__logo {
		padding-right: 20px;
	}
	.items-header {
		gap: 10px;
	}
	.header__container {
		display: flex;
		padding: 5px ;
		flex-wrap: wrap;
	}
}
@media(max-width:899.98px){
	[class*="__container"]{
		max-width: 750px;
	}
	.items-header {
		justify-content: space-between;
	}
	.header__get{
		padding-top: 10px;
		justify-content: flex-end;
		flex-grow: 1;
	}
}
@media(max-width:767.98px){
	[class*="__container"]{
		max-width: 450px;
	}
	header{
		position: static;
	}

	.header__logo{
		padding-bottom: 10px;
		flex-grow: 1;
		display: flex;
		justify-content: center;
	}
	.header__get{
		padding-top: 15px;
		justify-content: space-between;
		flex-grow: 1;
		font-size: 18px;
	}
	.items-header__item{
		font-size: 18px;
	}
}
@media(max-width:479.98px){
	[class*="__container"]{
		max-width: none;
		flex-direction: column;
	}
	.header__logo{
		padding-bottom: 20px;
	}
	.items-header{
		flex-direction: column;
	}
	.header__get{
		flex-direction: column;
	}
	.items-header__item{
		line-height: 100%;
		font-size: 20px;
	}
	.header__get{
		font-size: 20px;
	}
	.header__login{
		line-height: 50px;
	}
}
/*---------------------------------block ABOUT---------------------------*/
.about{
	background:linear-gradient(55.95deg, rgba(255, 64, 58, 0.205) 0%, rgba(247, 94, 5, 0.205) 100%);
	position:relative;
	padding-bottom: 80px;
}
.about__container {
	position: relative;
	z-index: 2;
}
.info {}

.info__block {
	padding-bottom: 189px;
	padding-top: 200px;
}

.block-info {
	display: flex;
}

.block-info__text {
	flex: 1 1 50%;
}
.block-info__media {
	max-width: 602px;
	max-height: 551px;
	flex: 1 1 50%;
	position: relative;
}

.block-info__video {
	padding: 44px 0px 8px 0px;
	font-weight: 700;
	font-size: 14px;
	line-height: 21px;
	display: inline-flex;
	align-items: center;
	position: relative;
	gap: 35px;
}
.block-info__video:not(:last-child){
	margin-bottom: 40px;
}

.block-info__video::before{
	content: "";
	background: #ff403a url("../img/main/Polygon.svg") center no-repeat;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	flex: 0 0 52px;
	z-index: 2;
}
.block-info__video::after{
	content: "";
	background: rgba(255, 64, 58, 0.229) center no-repeat;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	position: absolute;
	transform: scale(1.6);
	animation: play-circle 2s infinite ease;
}

.block-info__video:hover::after{
	animation-play-state: paused;
}
@keyframes play-circle {
	0% {
		transform: scale(1.6);
	}
	100%{
		opacity: 0;
		transform: scale(2.5);
}
}
.block-info__title {
	flex-grow: 1;
	color: #1E212C;
	font-weight: 900;
	font-size: 64px;
	line-height: 83.2px;
	letter-spacing: 1px;
	padding-right: 50px;
}
.block-info__title:not(:last-child){
	padding-bottom: 60px;
}
.block-info__button {}
.button__transporent {
	margin-right: 24px;
}
.block-info__img {}
.block-info__img img{
	max-width: 100%;
}
.info__statistic {
	display: flex;
	flex-wrap: wrap;
}
.statistic-items {
	column-gap: 66px;
	display: flex;
	align-items: center;
}
.statistic-items__dot{
	height: 8px;
	background: #FF3F3A;
	border-radius: 50px;
	flex: 0 0 8px ;
}
.statistic-items__item {
	flex: 0 1 auto;
	display: inline-flex;
	align-items: center;
}
.statistic-items__value {
	flex-grow: 0;
	font-size: 46px;
	font-weight: 900;
	line-height: 60px;
	letter-spacing: 0em;
	color: #1E212C;
}
.statistic-items__name {
	line-height: 25.6px;
	font-size: 16px;
	padding-left: 12px;
}
@media(max-width:1259.98px){
	.statistic-items__value {
		font-size: 32px;
	}

}
@media(max-width:1199.98px){
	[class*="__container"]
	{max-width: 970px;}

	.info__block {
		padding-bottom: 120px;
		padding-top: 120px;
	}
	.block-info__title {
		font-size: 50px;
	}
	.statistic-items {
		column-gap: 18px;
		display: flex;
		align-items: center;
	}
	
}
@media(max-width:970.98px){
	[class*="__container"]
	{max-width: 900px;}

	.info__block {
		padding-bottom: 20px;
		padding-top: 140px;
	}
	

	.block-info__title {
		flex-grow: 1;
		font-size: 50px;
		line-height: 43.2px;
		padding-right: 5px;
	}
	.statistic-items {
		column-gap: 18px;
		display: flex;
		align-items: center;
	}
	.block-info__button {
		display: inline-flex;
		flex-wrap:wrap;
		row-gap: 10px;
	}

	}
	@media(max-width:899.98px){
		.statistic-items__item {
			flex: 1 1 33.333%;
			display: flex;
			justify-content: space-around;
			align-items: center;
		}
		.statistic-items__dot--2{
			display: none;
		}
		.statistic-items {
			display: flex;
		}
	}
	@media(max-width:767.98px){
		.info__block {
			padding-bottom: 50px;
			padding-top: 15px;
			display: inline-block;
		}
}
	@media(max-width:479.98px){
		.info__block {
			padding-top: 10px;
		}
	}
	@media(max-width:419.98px){
			.info__block {
				padding-top: 5px;
			}
			.block-info__title {
				font-weight: 900;
				font-size: 40px;
				line-height: 35px;
				letter-spacing: 0.5px;
			}
			.block-info__title:not(:last-child){
				padding-bottom: 40px;
			}
			.block-info__button{
				display: flex;
				flex-wrap: wrap;
				row-gap: 20px;
				justify-content: center;
			}
			
			.statistic-items__item{
				display: flex;
				flex-wrap: wrap;
				flex: 0 1 100%;
				justify-content: center;
			}
			.statistic-items__dot--2{
				display: flex;
			}
			.info__statistic{
				display: flex;
				justify-content: center;
			}
	}

.decor-items__item {
	position: absolute;
}
.decor-items__item--1 {
	background: url("..//img/main/1.svg");
	width: 96px;
	height: 96px;
	top: 12%;
	left: 4%;
}
.decor-items__item--2 {
	background: url("..//img/main/2.svg");
	width: 284px;
	height: 284px;
	bottom: -9.5%;
	left:-7%;
}
.decor-items__item--3 {
	background: url("..//img/main/4.svg");
	width: 88px;
	height: 47px;
	top: 45%;
	left:40%;
}
.decor-items__item--4 {
	background: url("..//img/main/6.svg") no-repeat;
	width: 61px;
	height: 61px;
	bottom: 25%;
	left:38%;
}
.decor-items__item--5 {
	background: url("..//img/main/5.svg") no-repeat;
	width: 120px;
	height: 120px;
	top: 5%;
	right:5%;
}
.decor-items__item--6 {
	background: url("..//img/main/3.svg") no-repeat;
	width: 187px;
	height: 137px;
	bottom: 18%;
	right:-1.5%;
}
/*-------------------------------------block WHY---------------------------*/
.why {
	position: relative;
}
.why__container {
	padding:180px 15px 43px 15px;
	display: flex;
}
.why__img{
	display: flex;
	flex: 1 1 57%;
	max-width: 705px;
	max-height: 560px;
}
.why__img img{
	max-width: 100%;
	object-fit: cover;
}
.why__info-why {
	padding-left: 135px;
}

.info-why__name-one {
	line-height: 24px;
	letter-spacing: 1px;
	text-transform: uppercase;
	padding-bottom: 8px;
	}
.info-why__name-two {
	line-height: 59.8px;
	font-size: 46px;
	font-weight: 900;
	padding-bottom: 40px;
}
.info-why__prefer {}
.prefer-list {}
.prefer-list__list-prefer {}
.list-prefer__one {
	line-height: 25.6px;
	background: url('../img/main/Vector.svg') 0px 4px no-repeat;
	padding-left: 32px;
	color:gray;
	padding-bottom: 12px;
}
li:last-child {
	padding-bottom: 48px;
}
.button__orang {}

.decor-why__item {
	position: absolute;
}
.decor-why__item--1{
	background: url('..//img/main/why-Group.svg');
	width: 131px;
	height: 181px;
	top: 0.1%; /* 0.24/783 */
	left: -1.770313%; /* 110.79/1920 */
	transform: rotate(180deg)
}

.decor-why__item--2{
	background: url('..//img/main/why-circles.svg');
	width: 287px;
	height: 287px;
	top: 23.882503%; /* 187/783 */
	right: -8.604167%; /* 165.2/1920 */
}

@media(max-width:970.98px){
	.why__info-why {
		padding-left: 85px;
	}
	.why__container {
		padding:120px 15px 43px 15px;
	}
}
@media(max-width:767.98px){
	.why__container {
		flex-wrap: wrap;
	}
	.why__info-why {
		padding-left: 0px;
	}
}
@media(max-width:419.98px){
	.info-why__button{
		display: flex;
		justify-content: center;
	}
	.why__info-why {
		padding-left: 5px;
	}
}
/*------------------------------------------block lern------------------------------*/
.lern {
}
.lern__container {
}

.lern__titles {

}
.title-one {
	letter-spacing: 1px;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 16px;
	padding: 78px 0 8px 0;
	color: #1E212C;
	
}
.title-two {
	display: flex;
	justify-content: space-between;
	padding-bottom: 60px;
}
.title-two__name {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
}
.title-two__button {}
.button {}
.button__transporent {}

.lern__cards {
	display: flex;
	gap: 30px;
	flex-wrap: wrap;
}
.teacher {}
.teacher__card {
	display: flex;
	border: 1px solid #E5E8ED;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
	max-width: 600px;
	flex: 0 1 48%;
}
.teach-card {}
.teach-card__foto {
	display: flex;
	flex: 0 0 36%;
	max-width: 214px;
}
.teach-card__foto img{
	object-fit: cover;
	max-width: 100%;
}

.teach-card__infomation {
	padding: 32px 32px 32px 32px;
}
.info-teach {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	gap: 20px;
	align-items: flex-start;
}
.info-teach__spec {
	color: white;
	border-radius: 4px;
	line-height: 150%;
	font-size: 14px;
	padding: 2px 8px;
}
.info-teach__about {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color:#1E212C;
}
.info-teach__price {
	display: flex;
}
.price-card {
	
}
.price-card__value {
	color: #FF4242;
	padding-right: 8px;
	line-height: 150%;
	font-size: 18px;
}
.price-card__breack {
	width: 1px;
	border: 1px solid #787A80;
}
.price-card__name {
	padding-left: 8px;
	font-size: 18px;
	line-height: 150%;
	color: #787A80;
}
.info-teach__spec--green{
	background: #03CEA4;
}
.info-teach__spec--blue{
	background: #5A87FC;
}
.info-teach__spec--orange{
	background:#F89828;
}
.info-teach__spec--pink{
	background: #F52F6E;
}
@media(max-width:1199.98px){
	.info-teach__about {
		padding-bottom: 0px;}

	.teach-card__infomation {
			padding: 22px 22px 22px 22px;
		}
}
@media(max-width:779.98px){
	.teacher__card {
		max-width: 800px;
		flex: 0 1 100%;
	}
}
@media(max-width:629.98px){
	.title-two {
		display: flex;
		flex-direction: column;
	}
}
@media(max-width:419.98px){
	.title-two__button{
		display: flex;
		justify-content: center;
		margin-left: 30px;
	}
	.teacher__card {
		flex-direction: column;
		align-items: center;
	}
	.info-teach__price{
		align-self: center;
	}
	.info-teach{
		display: flex;
		align-items: center;
	}
}